body {
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
}
.explore-main {
  position: relative;
  max-width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 1rem;
}
.explore-take {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  margin: 2.5rem;
}
.explore-text1 img {
  width: 100%;
  height: 450px;
  display: block;
  margin: 0 auto;
}
.explore-text1-data {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 1rem; /* Center the div horizontally */
  width: 60%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 12px solid #7c6a46;
}

.explore-text1-data h2 {
  color: #7d6a46;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: normal;
}

.explore-text1-data p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .explore-main {
    position: relative;
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: -1.3rem;
  }
  .explore-take {
    font-size: 17px;
    text-align: center;
    font-weight: normal;
    margin: 1.5rem;
  }
  .explore-text1 img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
  .explore-text1-data {
    background-color: #f5f5f5;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 1rem; /* Center the div horizontally */
    width: 80%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-top: 8px solid #7c6a46;
  }

  .explore-text1-data h2 {
    color: #7d6a46;
    font-size: 20px;
    font-weight: normal;
  }

  .explore-text1-data p {
    color: #666;
    font-size: 14px;
    line-height: 1;
  }
}
